ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background: var(--color-darkblue);
  }
  
  li {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
  }
  
  li a:hover {
    background-color: #111;
  }