p[title]{
    border: 1px solid grey;
    padding: 5 px;

}
p[title="third paragraph"] {
    background-color: red;
}
input[type="text"]{
    background-color: green;
}   
input[type="button"]{
    color : gold;
}