
* {
  box-sizing: border-box;

}
header {
  background-color: #808080;
  margin: 30px;
}
h1 {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  
}
nav > a{
  padding: 5px;
  color: #000000;
  background-color: #d3d3d3;
}
main{
  float: left;
  width: 25%;
  background-color: #56812a;
}
aside.left{
display: inline-block;
width: 80%;
}
section{
background-color: gray;
margin: 30px;
}
h2 {
text-transform: uppercase;
color: #0000ff;
padding: 5px;
}
p>a {
background-color: hsl(0, 0%, 83%);
}
li>a{
background-color: #d3d3d3;
color: #000000;
}