/* ================================

layout.css 

- Gestaltung der Layoutbereiche 
- Hauptnavigation in eigenem Stylesheet 
- Inhaltsbereich in content.css 

================================ */

@media screen { 

  /**
    * Kopfbereich   
    */ 

  /* Abstände Logo und Slogan anpassen */ 
  .site-logo {
    margin-bottom: 0; 
  }
  .site-slogan {
    margin: 0; 
  }


  /**
    * Inhaltsbereich   
    */ 

  /* Zeilenabstand auf das anderthalbfache der Schriftgröße */
  .site-content {
      line-height: 1.5;
  }


  /**
    * Fußbereich   
    */ 

  /* Grundlegende Gestaltung der Fußzeile aus Teil 1 (plus font-size kleiner) */
  .site-footer {
      font-size: smaller;
    background-color: #333; 
    padding: 0.5em; 
  }
  .site-footer a {
    color: white; 
    text-decoration: none; 
  }

} /* Ende @media */ 