* {
  box-sizing: border-box;

}
.menu a{
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;

}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  
}
.right {
    float: right;
  width: 73%;
  margin-left: 0;
  padding: 15px;
  margin-top: 0px;
  text-align: left;
  }
header{
    background-color: #808080;
    background-color: #ffff00; 
    list-style-type: none;
    text-align: center;
    margin-right: 20px;
    padding: 0;
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
}
header>h1{
    color: #ffffff;
    text-align:center;
    padding: 5px;
    font-size: 40px;
    text-transform: uppercase;
    

}
nav>a{
  display: inline-block;
  font-size: 30px;
  margin: 30px 75px 20px 75px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  background-color: #e5e5e5;
  text-decoration: none;
  border-radius: 2px;
  overflow: auto;
  
  
  
 
} 
aside.left{
  display: inline-block;
  width: 25%;
  margin-top: 0px;
  background-color: hsla(71, 62%, 36%,1);
}
a>img {
    background-color: #e5e5e5;
    margin-top: 12%;
    margin-left: 12%;
    width: 75%;
    height: auto;
    display: inline-block;
    border-radius: 2px;
    
    
}
section {
    margin: 30px;
    padding: 0px;
    font-size: 20px;
}
  section>h2 {
    color: #05050c;
    
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 89%;
  margin: 5% ;
}

#customers td, #customers th {
  border: 3px solid rgb(24, 187, 124);
  padding: 8px;
}

#customers tr{
  background-color: #02faaf;
}
#customers tr:hover {
  background-color: #ddd;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsl(76, 95%, 34%);
  color: white;
  
}
