p {
    font-size: 20px;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.f22{
    font-size: 22px;
}
.f30{
    font-size: 30px;
}
#f40{
    font-size: 40px;
    color: green;
}
#f34{
    color: yellow;
    font-size: 34px;
}