/* Stylesheet zur Gestaltung der Beispielsite */ 

/* Text gestalten - Vorbereitung für Variante 3: Schriftart importieren */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700);

body {
  /* Variante 1: Einfach nur eine Schriftart ohne Serifen */
  font-family: sans-serif; 

  /* Variante 2: Schriftarten wünschen */
  font-family: Helvetica, Arial, sans-serif; 

  /* Variante 3: Webfonts - Schriftart mitliefern (wird weiter oben mit @import geladen) */
  font-family: 'Source Sans Pro', Arial, sans-serif; 

  /* Schriftgröße explizit festlegen */ 
  font-size: 1rem; 
}

/* Schriftgrößen für Überschriften */
h1 { font-size: 2.5rem; } 
h2 { font-size: 2rem; } 
h3 { font-size: 1.75rem; } 
h4 { font-size: 1.5rem; } 


/* Schrift im Fußbereich eine Stufe kleiner */
.site-footer {
	font-size: smaller;
}

/* Zeilenabstand auf das anderthalbfache der Schriftgröße */
.site-content {
	line-height: 1.5;
}

/* Hyperlinks im Inhaltsbereich gestalten */
.site-content a:link {
  color: #0B74B8; 
}
.site-content a:visited { 
  color: #36aade; 
}

.site-content a:hover, 
.site-content a:focus {
  color: #F5662E;
}
.site-content a:active {
  color: #d90000; 
}


/* Grundlegende Gestaltung der Navigation und der Fußzeile aus Teil 1 */
.site-nav,
.site-footer {
  background-color: #333; 
  padding: 0.5em; 
  margin: 1em 0; 
}
.site-nav-list {
  padding: 0; 
  margin: 0; 
}
.site-nav-list li {
  display: inline; 
  margin-right: 1em; 
}
.site-nav-list a,
.site-footer a {
  color: white; 
  text-decoration: none; 
}


/* Abstände Logo und Slogan anpassen */ 
.site-logo {
  margin-bottom: 0; 
}
.site-slogan {
  margin: 0; 
}

/* Grundlegende Gestaltung der Infoboxen */ 
.infoboxen {
  background-color: #eee; 
  padding: 1em; 
  margin-bottom: 1em; 
}
.infobox {
  text-align: center; 
  background-color: white; 
  padding: 1em;
  margin: 1em; 
}

/* Grundlegende Gestaltung der Kundenstimmen */ 
.kundenstimme {
  background-color: #eee; 
  text-align: center; 
  padding: 1em; 
  margin: 1em 0; 
}

/* Grundlegende Gestaltung der Navigation */ 
a.sie-sind-hier {
  text-decoration: underline; 
}

/* Grundlegende Gestaltung Kontaktdaten und Kontaktformular */ 
address {
  font-style: normal; 
}
label {
  display: block; 
}
form div {
  margin-bottom: 1em; 
}









