/* ================================

navi-inline.css 

Horizontale Navigation basierend auf display:inline  

================================ */ 

@media screen {

  .site-nav {
    background: #333; 
    padding: 0.5em; 
    margin: 1em 0; 
  }
  .site-nav-list {
    padding: 0; 
    margin: 0; 
  }
  .site-nav-list > li {
    display: inline-block;
    margin-right: 1em; 
  }

  .site-nav-list a {
    color: white; 
    text-decoration: none; 
  }

  a.sie-sind-hier {
    text-decoration: underline; 
  }

} /* Ende @media */ 