.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.note {
    font-size: 120%;
    color: red;
}

.main {
    text-align: center;
}